<p id="notice"><%= notice %></p>

<h1><a href="https://twitter.com/onigra_">Onigra</a>'s Weight</h1>
<div id='container' style="height: 800px"></div>

<%= javascript_include_tag "highcharts" %>
<%= javascript_include_tag "grid-light_theme" %>
<%= javascript_pack_tag "weights" %>
